Header {
  box-shadow: 0 3px 1px 2px gray;
  color: #0e3c7e;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
}

h2 {
  margin: 0;
}

p {
  color: black;
  margin: 0;
  font-size: 15px;
}
